/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
    text-align: center;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }

    .body-content {
        padding: 0;
    }
}

/* 追加 */
.sobre {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    
}

.table1 {
    border-collapse: collapse;
    border: solid thick;
}

.tbody1 {
    border: solid medium;
}

.td1 {
    border: solid thin;
    height: 1.4em;
    width: 1.4em;
    text-align: center;
    padding: 0;
}

#canvas1 {
    /*border: 1px solid gray;*/
    touch-action: none; /* surfaceでタッチする為に超大事 */
}

#canvas12 {
    /*border: 1px solid gray;*/
    touch-action: none; /* surfaceでタッチする為に超大事 */
}

#canvas13 {
    /*border: 1px solid gray;*/
    touch-action: none; /* surfaceでタッチする為に超大事 */
}

#canvas2 {
    /*border: 1px solid gray;*/
    touch-action: none; /* surfaceでタッチする為に超大事 */
}

#canvas3 {
    border: 1px solid gray;
    touch-action: none; /* surfaceでタッチする為に超大事 */
}

#canvas31 {
    border: 1px solid gray;
    touch-action: none; /* surfaceでタッチする為に超大事 */
}
#canvas5 {
    border: 1px solid gray;
    touch-action: none; /* surfaceでタッチする為に超大事 */
}
#canvas51 {
    border: 1px solid gray;
    touch-action: none; /* surfaceでタッチする為に超大事 */
}
#canvas61 {
    border: 1px solid gray;
    touch-action: none; /* surfaceでタッチする為に超大事 */
}
#canvas62 {
    border: 1px solid gray;
    touch-action: none; /* surfaceでタッチする為に超大事 */
}
#canvas63 {
    border: 1px solid gray;
    touch-action: none; /* surfaceでタッチする為に超大事 */
}
#canvasM {
    border: 1px solid gray;
    touch-action: none; /* surfaceでタッチする為に超大事 */
}
.filterMagia {
    display: flex;
}

.statusMagia {
    display: flex;
}

.inner {
    display: inline-block;
    vertical-align: middle;
}

.highlight {
    background-color: yellow;
}
.handsontable .currentRow {
    background-color: rgba(225, 250, 255, 1);
}

.handsontable .currentCol {
    background-color: rgba(225, 250, 255, 1);
}

.accele {
    color: blue;
}
.blast {
    color: red;
}
.charge {
    color: goldenrod;
}
.noselect {
    user-select: none;
    -moz-user-select: none; /* Firefox */
    -webkit-user-select: none; /* Safari、Chromeなど */
    -ms-user-select: none; /* IE10かららしい */
}

#selectModal{

}

.modalDialog{
    position:relative;
    z-index:0;
}

.scroll-area {
    width: 510px;
    height: 200px;
    overflow: hidden;
    padding: 20px;
}



::-webkit-scrollbar {
    width: 16px;
    height: 16px;
}

::-webkit-scrollbar-track {
    background: #fff;
    border-left: solid 1px #ececec;
}

::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 10px;
    box-shadow: inset 0 0 0 2px #fff;
}

.subtitle h4{
    letter-spacing:3px;
}

.resultad h4{
    letter-spacing:2px;
}


.explain{
    opacity:0.7;
}

.opciones{
    opacity:0.7;
}

.opciones:hover{
    opacity:1;
}

.fa{
    margin-right:5px;
}

.twitter a{
    background-color: #55acee;
    opacity: 0.7;
    color: white;
    display: inline-block;
    padding: 8px 24px;
}

.twitter a:hover{
    opacity:1;
    text-decoration:none;
}

.twitter{
    transition:all 0.5s;
}

.contents h2{
    font-style:normal;
}

.contents h2:hover{
    color:red;
    text-decoration:underline solid red;
    -webkit-transform: skewX(-15deg);
    -moz-transform: skewX(-15deg);
    -o-transform: skewX(-15deg);
    transform: skewX(-15deg);
    -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1, M12=-0.26794919243112214, M21=0, M22=1, SizingMethod='auto expand')";
}



.selector {
    margin-bottom:5px;
}
.selector2{
    margin-top:10px;
}

.gratitud a:hover {
    color: red;
    font-family: "游ゴシック", "游ゴシック体";
    font-weight: 500;
    font-style: italic;
    text-decoration: underline solid red;
}

.fkg-value{
    color:red;
}

.fkg-value2{
    color:blue;
}

.fkg-value3{
    color:yellowgreen;
}

.fkg-value4 {
    color: purple;
}

.DB-block{
    margin: 10px 30px;
}

.DB-block .h2{

}

/* Default画面 */
.text1,.text2,.text3{
    display:none;
}

.dropdown-menu li{
    opacity:0.5;
}